@import url("https://fonts.googleapis.com/css2?family=Source+Sans+3:ital,wght@0,200..900;1,200..900&display=swap#:~:text=font-family%3A%20%27Source%20Sans%203%27%3B%20font-style%3A%20italic%3B%20font-weight%3A%20900%3B,Sans%203%27%3B%20font-style%3A%20normal%3B%20font-weight%3A%20200%3B%20font-display%3A%20swap%3B");
@import "tailwindcss";

:root {
  --background: #f4f4f4;
  --foreground: #000000;
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --font-sans: var(--font-source-sans);
  --font-serif: var(--font-playfair-display);
  --font-mono: var(--font-source-code-pro);
  --font-alt: var(--lato);
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #000000;
    --foreground: #f4f4f4;
  }
}

body {
  background: var(--background);
  color: var(--foreground);
  font-family: "Source Sans 3", sans-serif;
}